body {
	font-size: 15px;
	line-height: 1.5;
	color: #464646;
	font-weight: normal;
	font-family: OpenSans, sans-serif;
}

.page-title {
	font-size: 47px;
	color: #000;
	font-weight: normal;
	font-family: Gilroy, sans-serif;
}

.goods-categories-title {
	font-size: 18px;
	color: #000;
	font-weight: normal;
	font-family: Gilroy, sans-serif;
}